.project-grid-position {
  position: relative;
  top: 25%;
  left: 30%;
  /* overflow-y: auto; */
  overflow: hidden;
  max-height: 75%;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.basic-grid {
  display: grid;
  /* gap: 1rem; */
  width: 700px;
  max-width: 700px;
  height: 700px;
  max-height: 700px;
  grid-template-columns: repeat(var(--columnnumber), 1fr);
  grid-template-rows: repeat(var(--rownumber), 1fr);
  /* grid-template-columns: repeat(auto-fit, minmax(480px, 1fr)); */
  /* grid-template: repeat(auto, 1fr) / repeat(auto, 1fr); */
  /* grid-auto-rows: 300px; */
  /* --stagger-delay: 100ms; */
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.grid-div {
  display: block;
  background-color: antiquewhite;
  /* border: 0.05px solid black; */
  /* transition: all 100ms; */
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.grid-div:hover {
  border: 1px solid black;
  /* box-shadow: rgba(2, 8, 20, 0.1) 0px 0.35em 1.175em,
    rgba(2, 8, 20, 0.08) 0px 0.175em 0.5em; */
  /* transform: translateY(-3px) scale(1.005); */
  transition: all 0.5s;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
