body{
  background-image: url('background.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.project-grid-position {
  position: relative;
  display: flex;
  margin-left: 30%;
  width: 700px;
  max-width: 700px;
  height: 700px;
  max-height: 700px;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}



.control-panel {
  position: fixed;
  display: block;
  padding: 1rem;
  margin-top: 5%;
  margin-left: 15%;
  width: 200px;
  height: 30rem;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  border: 2px black solid;
  background-color: rgba(99, 159, 194, 0.5)
}

.control-panel * {
  justify-content: center;
  align-items: center;
  margin: auto;
  text-align: center;
  vertical-align: middle;
  padding: 0.2rem;
}

.control-button {
  background-color: #1374B4;
  border-radius: 5px;
  border-style: none;
  box-shadow: rgba(245, 244, 247, .25) 0 1px 1px inset;
  color: #fff;
  cursor: pointer;
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 500;
  height: 40px;
  outline: 0;
  text-align: center;
  transition: all .3s cubic-bezier(.05, .03, .35, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 190px;
}

.control-button:hover {
  opacity: .7;
}

@media screen and (max-width: 1000px) {
  .control-button {
    font-size: 14px;
    height: 55px;
    line-height: 55px;
    width: 150px;
  }
}


.controls {
  color: antiquewhite;
}

.basic-grid {
  position: absolute;
  display: grid;
  width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 100%;
  border: 3px solid black;
  grid-template-columns: repeat(var(--columnnumber), 1fr);
  grid-template-rows: repeat(var(--rownumber), 1fr);
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.grid-div {
  display: block;
  border: 0.1mm rgba(105, 105, 105, 0.25);
  border-style: solid;
  background-color: white;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.grid-div:hover {
  border: 1px solid black;
  transition: all 0.5s;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.control-text{
  color: white;
  font-size: large;
}

#current-canvas-size {
  display: flex;
  position: relative;
  font-size: large;
  padding: 2px;
  margin-top: 4%;
  margin-left: 30%;
  width: 700px;
  text-align: center;
  justify-content: center;
}

h1{
  position: relative;
  display: flex;
  width: 700px;
  font-size: 32pt;
  margin-top: 1%;
  margin-left: 30%;
  text-align: center;
  justify-content: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
}